a {
    cursor:default;
}

a:link, a:visited {
    cursor:default;
  color: #333333;
  height: 100%;
}

a:focus, a:hover {
    cursor:default;
     text-decoration: none;
     color: #9fa4a9 !important;
    border-bottom: none;
    	-webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
}

a:active {
    cursor:default;
     text-decoration: none;
    color: #85929E;
}

body {
    cursor: default;
    background-color: #D6DBDF;
    color: #283747;
}

.btn-lg  {
  color: #333333;
  opacity: 0.88;
  background-color: #Ffffff;
  font-size: 200%;
  font-weight: 500;
  text-shadow: 0px 1px 1px #999999;
  
}

.btn-lg:focus
{
  color: #333333;
  opacity: 0.95;
  background-color: #Ffffff;
  font-size: 200%;
  font-weight: 500;
  text-shadow: 0px 1px 1px #888888;
  
}

.btn-lg:hover
{
  color: #333333;
  opacity: 0.92;
  background-color: #Ffffff;
  font-size: 200%;
  font-weight: 500;
  text-shadow: 0px .5px .5px #888888;
  box-shadow: 0 0px 10px 0 #888888;
}

h1 {
    color: #333333;
}


h2 {
    color: #333333; 
}

h3 {
  color: #333333;
}

h4 {
  color: #333333;
}

h5 {
  color: #c2c7cc;
}

.header {
    padding-right: 4.5% !important;
    padding-top: 1% !important;
    padding-bottom: 1% !important;
    text-align: right;
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

.pull-right {
    margin-bottom: 5px;
    margin-right: 5px;
    margin-top: 0px;
    padding: 0px;
}

.container {
        background-color: #D6DBDF;
        max-width: 85%;
        position: relative;
        padding-bottom: 4%;
}

.gray {
    background-color: #D6DBDF;
    color: #283747;
    max-width: 85%;
    padding-bottom: 1% !important;
}

.white {
    background-color: #f4f4f4;
    position: relative;
    color: #283747;
    max-width: 85%;
    margin-bottom: 2%;
    padding-bottom: 3%; 
}

.white2 {
    background-color: #f4f4f4;
    position: relative;
    color: #283747;
    max-width: 85%;
    margin-bottom: 1.5% !important;
    padding-top: .5% !important;
    padding-bottom: .5% !important;
}

.row {
    background-color: #f4f4f4;
    position: center;
    padding-right: 4%;
    padding-left: 4%;
    padding-top: 5%
}

.thumbnailz {
    position: relative;
    background-color: #f4f4f4;
    margin: 0px;
    padding-left: 2%;
    padding-right: 2%;
}

.thumbnailz .col-sm-12 {
    position: relative;
    background-color: #f4f4f4;
    margin: 0px;
    padding-left: 2%;
    padding-right: 2%;
}

.thumbnailz img {
        position: relative;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
}
.thumbnailz:hover img {
        position: relative;
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

img {
    position: relative;
    max-height: 100%;
    max-width: 100%;
}

@media (max-width: 990px) {
  .col-sm-12, .thumbnailz {
    padding: 7%;
    padding-bottom: 5%;
        position: relative;
  }
  .row {
      padding-top: 5% !important;
      padding-bottom: -1% !important;
  }
}


/* trouble  top right bottom left */
